body{

	font-family: 'PT Sans',sans-serif;
	background-color: #252529;
	margin:0;
	color: #fff;
	line-height: 1.8;
}

nav{
	height: 80px;
		width: 100%;
		background: rgba(255,127,80, 0.50);
		position: fixed;

}
	nav li{
		display: inline;
		float: left;
	}
	nav a{
		display: inline-block;
		width: 100px;
		text-align: center;
		text-decoration: none;
		padding:10px 0px ;
		color: #eee;
		font-weight: bold;
	}
	nav li:hover{
		background-color: #902020;
	}