
body{
	font-family: 'PT Sans',sans-serif;
	background: url('bcme.jpg')  no-repeat ;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	margin: 0;
	
}
nav{
	height: 80px;
		width: 100%;
		background: rgba(255,127,80, 0.50);
		position: fixed;
		top: 0;
			}


	nav li{
		display: inline;
		float: left;
	}
	nav a{
		display: inline-block;
		width: 100px;
		text-align: center;
		text-decoration: none;
		padding:10px 0px ;
		color: #eee;
		font-weight: bold;
	}
	nav li:hover{
		background-color: #902020;
		}

.main-title{
	font-size: 25px;
	text-align: center;
	color: #fff;
	padding-top: 40px;
	letter-spacing: 4px;
    font-family: "Amatic SC", sans-serif;

}
.food{
	padding-left: 100px;
	padding-top: 20px;
	color: #eee;
	display: flex;
	justify-content: space-between;
	place-items: center;
	
}

.food img
{
	padding: 10px;
	box-sizing: border-box;
	border-radius: 100%;
}

#menu-wrapper
{
	display: flex;
	justify-content: center;
	place-items: center;
}

#menu{
	height: 70vh;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-color: red green;
	padding: 10px;
    font-family: "Amatic SC", sans-serif;
}

#menu hr{
	width: 50vw;
}
.food .price{
	color: #fff;
    background-color: #616161;
	padding: 8px;
    border-radius: 4px;
    letter-spacing: 2px;
}
.food .food-items{
	letter-spacing:3px ;
	
}
